In [1]:
import time
import datetime
import pandas as pd

In [3]:
coin = "DOGE-USD"
period1 = int(time.mktime(datetime.datetime(2014,9,14,23,59).timetuple()))
period2 = int(time.mktime(datetime.datetime(2022,7,3,23,59).timetuple()))
interval = '1d'
print(period1, period2)

1410757140 1656910740

In [4]:
query_string = f'https://query1.finance.yahoo.com/v7/finance/download/{coin}?period1={period1}&period2={period2}&interval={interval}&events=history&includeAdjustedClose=true'

In [5]:
coin_df = pd.read_csv(query_string)
coin_df

            Date      Open      High       Low     Close  Adj Close     Volume
0     2017-11-09  0.001207  0.001415  0.001181  0.001415   0.001415    6259550
1     2017-11-10  0.001421  0.001431  0.001125  0.001163   0.001163    4246520
2     2017-11-11  0.001146  0.001257  0.001141  0.001201   0.001201    2231080
3     2017-11-12  0.001189  0.001210  0.001002  0.001038   0.001038    3288960
4     2017-11-13  0.001046  0.001212  0.001019  0.001211   0.001211    2481270
...          ...       ...       ...       ...       ...        ...        ...
1694  2022-06-30  0.069481  0.069513  0.062746  0.066086   0.066086  566648029
1695  2022-07-01  0.066208  0.067862  0.064224  0.066175   0.066175  472441458
1696  2022-07-02  0.066205  0.067692  0.065933  0.066698   0.066698  352589827
1697  2022-07-03  0.066698  0.067356  0.065111  0.067179   0.067179  280878240
1698  2022-07-04  0.067174  0.069605  0.065927  0.069472   0.069472  379581122

[1699 rows x 7 columns]

In [ ]:
coin_df.to_csv