In [1]:
import pandas as pd 
import datetime
import plotly.express as px

In [40]:
pip install plotly

Collecting plotly
  Downloading plotly-5.9.0-py2.py3-none-any.whl (15.2 MB)
Collecting tenacity>=6.2.0
  Downloading tenacity-8.0.1-py3-none-any.whl (24 kB)
Installing collected packages: tenacity, plotly
Successfully installed plotly-5.9.0 tenacity-8.0.1
Note: you may need to restart the kernel to use updated packages.

In [2]:
# Database related all the code is moved to this file
%run -i "SqlConn.py"
#importing local py file
import SqlConn

In [3]:
#Fetch Tweets and Sentiment data - Join from Tweet and Sentiment tables
try:
    df_dbFinaceDeltaData = SqlConn.fetchFinanceDeltaPercents()
    print("Data transfer Done")
except BaseException as err:
    print(err)

Data transfer Done

In [4]:
df_deltas_restore = df_dbFinaceDeltaData
df_deltas_restore

,id,tweetID,financeType,date,fullText,likesCount,retweetCount,sentiment,sentimentScore,startDate,...,deltaVol_0,deltaVol_1,deltaVol_2,deltaVol_3,deltaVol_4,percentVol_0,percentVol_1,percentVol_2,percentVol_3,percentVol_4
0,1,156927468836630528,tesla,2012-01-11,The exec conf room at Tesla used to be called ...,315,67,,0.6616,2012-01-10,...,2500.0,287500.0,24143000.0,19899000.0,0.0,0.074427,8.559095,718.755582,592.408455,0.000000
1,2,157700726515183616,tesla,2012-01-13,"A Tesla Roadster just passed the 100,000 mile ...",15,51,,0.0000,2012-01-12,...,23855500.0,19611500.0,2654500.0,2585000.0,0.0,654.202660,537.817085,72.795832,70.889894,0.000000
2,3,159330976378519552,tesla,2012-01-17,Will communicate better in the future. Too man...,163,43,,-0.0772,2012-01-13,...,-4244000.0,-21201000.0,-21270500.0,-24190500.0,0.0,-15.431605,-77.088939,-77.341648,-87.959058,0.000000
3,4,159396536621596672,tesla,2012-01-17,That's not just paranoia (a healthy trait at t...,16,14,,0.0875,2012-01-13,...,-4244000.0,-21201000.0,-21270500.0,-24190500.0,0.0,-15.431605,-77.088939,-77.341648,-87.959058,0.000000
4,5,168022238061268992,tesla,2012-02-10,Tesla Model X video,16,47,,0.0000,2012-02-09,...,2985500.0,-596000.0,2668500.0,7423500.0,4713000.0,46.754365,-9.333647,41.789993,116.255579,73.807846
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1075,1076,1530209049261658112,doge,2022-05-27,"Tesla merch can be bought with Doge, soon Spac...",203719,19599,,0.0000,2022-05-26,...,598166777.0,-176351253.0,-316928402.0,-21194117.0,-39446285.0,84.025066,-24.772231,-44.519239,-2.977158,-5.541058
1076,1077,1531699416490557440,doge,2022-05-31,You’re humble bro. Billy’s sense of humor &amp...,12204,1237,,0.7430,2022-05-30,...,-18252168.0,140051854.0,-256186149.0,-287357508.0,-340366984.0,-2.642573,20.276895,-37.090973,-41.604004,-49.278787
1077,1078,1531696049064116224,doge,2022-05-31,And Palmer always forgets to mention that he n...,3663,317,,0.0000,2022-05-30,...,-18252168.0,140051854.0,-256186149.0,-287357508.0,-340366984.0,-2.642573,20.276895,-37.090973,-41.604004,-49.278787
1078,1079,1538406040374595584,doge,2022-06-19,I will keep supporting Dogecoin,396566,37467,,0.4404,2022-06-18,...,513818041.0,-153327152.0,399553595.0,-18726645.0,-218176192.0,78.764656,-23.503963,61.248728,-2.870662,-33.444861
1079,1080,1544743525585141760,doge,2022-07-06,Supporting Doge wherever possible,10646,2085,,0.4404,2022-07-05,...,-4294184.0,-628945.0,41149046.0,-148948540.0,-103410563.0,-1.064971,-0.155980,10.205093,-36.939707,-25.646145

In [5]:
model_sum_columns = {
          
      "likesCount": 'sum',
      "retweetCount": 'sum',
      "sentimentScore" : 'mean',
      
      "tweetID" : 'count',
            
      "percentPrice_0" : 'mean',
      "percentPrice_1" : 'mean',
      "percentPrice_2" : 'mean',
      "percentPrice_3" : 'mean',
      "percentPrice_4" : 'mean'
}

In [6]:
model_average_columns = {
          
      "likesCount": 'mean',
      "retweetCount": 'mean',
      "sentimentScore" : 'mean',
      
      "tweetID" : 'count',
            
      "percentPrice_0" : 'mean',
      "percentPrice_1" : 'mean',
      "percentPrice_2" : 'mean',
      "percentPrice_3" : 'mean',
      "percentPrice_4" : 'mean'
}

In [7]:
deltas_Twitter_df = df_deltas_restore[(df_deltas_restore["financeType"] == "twitter")]
deltas_Tesla_df = df_deltas_restore[(df_deltas_restore["financeType"] == "tesla")]
deltas_Doge_df = df_deltas_restore[(df_deltas_restore["financeType"] == "doge")]

In [8]:
deltas_Twitter_df['startDate'].value_counts()

2022-04-26    5
2022-05-02    5
2022-04-13    4
2022-05-25    3
2022-05-12    3
             ..
2020-04-15    1
2020-04-24    1
2020-06-01    1
2020-07-20    1
2022-07-05    1
Name: startDate, Length: 64, dtype: int64

In [9]:
deltas_Tesla_df['startDate'].value_counts()

2019-04-22    10
2022-04-20    10
2018-07-03     8
2019-12-27     8
2018-05-18     6
              ..
2018-10-01     1
2018-09-24     1
2018-09-18     1
2018-09-13     1
2022-07-11     1
Name: startDate, Length: 568, dtype: int64

In [10]:
deltas_Doge_df['startDate'].value_counts()

2019-04-01    3
2021-02-03    3
2021-11-22    3
2021-05-15    3
2021-03-13    3
2021-05-19    3
2021-06-30    2
2021-02-07    2
2022-05-30    2
2021-05-24    2
2021-02-14    2
2021-10-23    2
2021-04-14    2
2021-10-30    1
2021-07-12    1
2021-07-16    1
2021-08-23    1
2021-09-22    1
2021-10-21    1
2021-10-26    1
2021-02-05    1
2021-11-02    1
2021-07-08    1
2021-12-13    1
2021-12-22    1
2022-01-13    1
2022-01-24    1
2022-03-13    1
2022-04-09    1
2022-05-25    1
2022-05-26    1
2022-06-18    1
2020-07-17    1
2021-05-25    1
2021-07-01    1
2021-05-23    1
2021-02-09    1
2021-02-10    1
2021-02-11    1
2021-02-19    1
2021-02-21    1
2021-02-28    1
2021-03-01    1
2021-03-02    1
2021-03-05    1
2020-12-19    1
2021-03-15    1
2021-03-18    1
2021-03-31    1
2021-04-27    1
2021-05-09    1
2021-05-10    1
2021-05-13    1
2020-11-16    1
2020-04-24    1
2022-07-05    1
Name: startDate, dtype: int64

In [11]:
model_twitter_df_average = deltas_Twitter_df.groupby('startDate').agg(model_average_columns)
model_tesla_df_average = deltas_Tesla_df.groupby('startDate').agg(model_average_columns)
model_doge_df_average = deltas_Doge_df.groupby('startDate').agg(model_average_columns)

In [12]:
model_twitter_df_sum = deltas_Twitter_df.groupby('startDate').agg(model_sum_columns)
model_tesla_df_sum = deltas_Tesla_df.groupby('startDate').agg(model_sum_columns)
model_doge_df_sum = deltas_Doge_df.groupby('startDate').agg(model_sum_columns)

In [13]:
model_twitter_df_average

,likesCount,retweetCount,sentimentScore,tweetID,percentPrice_0,percentPrice_1,percentPrice_2,percentPrice_3,percentPrice_4
startDate,,,,,,,,,
2015-05-21,599.0,208.0,0.6369,1,-0.218108,-0.463473,-0.736096,0.408948,0.000000
2016-04-01,3252.0,367.0,0.4404,1,6.946183,6.695864,8.010013,6.257822,4.192741
2016-07-01,328.0,41.0,0.6696,1,-0.810197,-0.462963,0.520833,4.629624,0.000000
2016-10-03,5254.0,1598.0,0.0000,1,-2.000000,3.625004,-17.208329,-17.291667,-26.833337
2016-10-05,225.0,16.0,0.2960,1,-20.104543,-20.184965,-29.392850,-27.623646,-27.422604
...,...,...,...,...,...,...,...,...,...
2022-05-26,334472.0,22789.0,0.5502,1,1.644732,0.202424,-0.556683,0.986842,0.000000
2022-05-27,5434.5,463.5,0.6798,2,-1.418969,-2.165793,-0.647244,-0.024889,0.000000
2022-06-08,57460.0,2473.0,0.0000,1,-2.250247,-3.610284,-8.432246,-7.962409,-6.058351
2022-06-17,147051.0,8697.0,0.5530,1,2.991003,1.985177,2.382216,4.314455,0.000000
2022-07-05,39322.0,4695.0,-0.3182,1,-0.442944,1.068265,-4.090672,-14.929648,0.000000

In [14]:
model_twitter_df_sum

,likesCount,retweetCount,sentimentScore,tweetID,percentPrice_0,percentPrice_1,percentPrice_2,percentPrice_3,percentPrice_4
startDate,,,,,,,,,
2015-05-21,599,208,0.6369,1,-0.218108,-0.463473,-0.736096,0.408948,0.000000
2016-04-01,3252,367,0.4404,1,6.946183,6.695864,8.010013,6.257822,4.192741
2016-07-01,328,41,0.6696,1,-0.810197,-0.462963,0.520833,4.629624,0.000000
2016-10-03,5254,1598,0.0000,1,-2.000000,3.625004,-17.208329,-17.291667,-26.833337
2016-10-05,225,16,0.2960,1,-20.104543,-20.184965,-29.392850,-27.623646,-27.422604
...,...,...,...,...,...,...,...,...,...
2022-05-26,334472,22789,0.5502,1,1.644732,0.202424,-0.556683,0.986842,0.000000
2022-05-27,10869,927,0.6798,2,-1.418969,-2.165793,-0.647244,-0.024889,0.000000
2022-06-08,57460,2473,0.0000,1,-2.250247,-3.610284,-8.432246,-7.962409,-6.058351
2022-06-17,147051,8697,0.5530,1,2.991003,1.985177,2.382216,4.314455,0.000000
2022-07-05,39322,4695,-0.3182,1,-0.442944,1.068265,-4.090672,-14.929648,0.000000

In [15]:
#Twitter_sum_models

# Create our features
X_sum_twitter_1 = model_twitter_df_sum.copy()
X_sum_twitter_1 = X_sum_twitter_1.drop(columns=["tweetID","percentPrice_1","percentPrice_2","percentPrice_3","percentPrice_4"], axis=1)

# Create our target
y_sum_twitter_1 = model_twitter_df_sum["percentPrice_1"].to_frame()


# Create our features
X_sum_twitter_2 = model_twitter_df_sum.copy()
X_sum_twitter_2 = X_sum_twitter_2.drop(columns=["tweetID","percentPrice_2","percentPrice_3","percentPrice_4"], axis=1)

# Create our target
y_sum_twitter_2 = model_twitter_df_sum["percentPrice_2"].to_frame()

# Create our features
X_sum_twitter_3 = model_twitter_df_sum.copy()
X_sum_twitter_3 = X_sum_twitter_3.drop(columns=["tweetID","percentPrice_4"], axis=1)

# Create our target
y_sum_twitter_3 = model_twitter_df_sum["percentPrice_3"].to_frame()



 #Twitter_average_models

# Create our features
X_average_twitter_1 = model_twitter_df_average.copy()
X_average_twitter_1 = X_average_twitter_1.drop(columns=["percentPrice_1","percentPrice_2","percentPrice_3","percentPrice_4"], axis=1)

# Create our target
y_average_twitter_1 = model_twitter_df_average["percentPrice_1"].to_frame()

# Create our features
X_average_twitter_2 = model_twitter_df_average.copy()
X_average_twitter_2 = X_average_twitter_2.drop(columns=["percentPrice_2","percentPrice_3","percentPrice_4"], axis=1)

# Create our target
y_average_twitter_2 = model_twitter_df_average["percentPrice_2"].to_frame()

# Create our features
X_average_twitter_3 = model_twitter_df_average.copy()
X_average_twitter_3 = X_average_twitter_3.drop(columns=["percentPrice_4"], axis=1)

# Create our target
y_average_twitter_3 = model_twitter_df_average["percentPrice_3"].to_frame()

In [16]:
#Tesla_sum_models

# Create our features
X_sum_tesla_1 = model_tesla_df_sum.copy()
X_sum_tesla_1 = X_sum_tesla_1.drop(["tweetID","percentPrice_1","percentPrice_2","percentPrice_3","percentPrice_4"], axis=1)

# Create our target
y_sum_tesla_1 = model_tesla_df_sum["percentPrice_1"].to_frame()

# Create our features
X_sum_tesla_2 = model_tesla_df_sum.copy()
X_sum_tesla_2 = X_sum_tesla_2.drop(["tweetID","percentPrice_2","percentPrice_3","percentPrice_4"], axis=1)

# Create our target
y_sum_tesla_2 = model_tesla_df_sum["percentPrice_2"].to_frame()

# Create our features
X_sum_tesla_3 = model_tesla_df_sum.copy()
X_sum_tesla_3 = X_sum_tesla_3.drop(["tweetID","percentPrice_4"], axis=1)

# Create our target
y_sum_tesla_3 = model_tesla_df_sum["percentPrice_3"].to_frame()



#Tesla_average_models

# Create our features
X_average_tesla_1 = model_tesla_df_average.copy()
X_average_tesla_1 = X_average_tesla_1.drop(["tweetID","percentPrice_1","percentPrice_2","percentPrice_3","percentPrice_4"], axis=1)

# Create our target
y_average_tesla_1 = model_tesla_df_average["percentPrice_1"].to_frame()

# Create our features
X_average_tesla_2 = model_tesla_df_average.copy()
X_average_tesla_2 = X_average_tesla_2.drop(["tweetID","percentPrice_2","percentPrice_3","percentPrice_4"], axis=1)

# Create our target
y_average_tesla_2 = model_tesla_df_average["percentPrice_2"].to_frame()

# Create our features
X_average_tesla_3 = model_tesla_df_average.copy()
X_average_tesla_3 = X_average_tesla_3.drop(["tweetID","percentPrice_4"], axis=1)

# Create our target
y_average_tesla_3 = model_tesla_df_average["percentPrice_3"].to_frame()

In [17]:
#Doge_sum_models

# Create our features
X_sum_doge_1 = model_doge_df_sum.copy()
X_sum_doge_1 = X_sum_doge_1.drop(["tweetID","percentPrice_1","percentPrice_2","percentPrice_3","percentPrice_4"], axis=1)

# Create our target
y_sum_doge_1 = model_doge_df_sum["percentPrice_1"].to_frame()

# Create our features
X_sum_doge_2 = model_doge_df_sum.copy()
X_sum_doge_2 = X_sum_doge_2.drop(["tweetID","percentPrice_2","percentPrice_3","percentPrice_4"], axis=1)

# Create our target
y_sum_doge_2 = model_doge_df_sum["percentPrice_2"].to_frame()

# Create our features
X_sum_doge_3 = model_doge_df_sum.copy()
X_sum_doge_3 = X_sum_doge_3.drop(["tweetID","percentPrice_4"], axis=1)

# Create our target
y_sum_doge_3 = model_doge_df_sum["percentPrice_3"].to_frame()



#Tesla_average_models

# Create our features
X_average_doge_1 = model_doge_df_average.copy()
X_average_doge_1 = X_average_doge_1.drop(["percentPrice_1","percentPrice_2","percentPrice_3","percentPrice_4"], axis=1)

# Create our target
y_average_doge_1 = model_doge_df_average["percentPrice_1"].to_frame()

# Create our features
X_average_doge_2 = model_doge_df_average.copy()
X_average_doge_2 = X_average_doge_2.drop(["percentPrice_2","percentPrice_3","percentPrice_4"], axis=1)

# Create our target
y_average_doge_2 = model_doge_df_average["percentPrice_2"].to_frame()

# Create our features
X_average_doge_3 = model_doge_df_average.copy()
X_average_doge_3 = X_average_doge_3.drop(["percentPrice_4"], axis=1)

# Create our target
y_average_doge_3 = model_doge_df_average["percentPrice_3"].to_frame()

In [18]:
#import required libraries

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

In [19]:
#Twitter train and test

X_sum_twitter_1_train, X_sum_twitter_1_test, y_sum_twitter_1_train, y_sum_twitter_1_test = train_test_split(X_sum_twitter_1, y_sum_twitter_1, random_state=1)
X_sum_twitter_2_train, X_sum_twitter_2_test, y_sum_twitter_2_train, y_sum_twitter_2_test = train_test_split(X_sum_twitter_2, y_sum_twitter_2, random_state=1)
X_sum_twitter_3_train, X_sum_twitter_3_test, y_sum_twitter_3_train, y_sum_twitter_3_test = train_test_split(X_sum_twitter_3, y_sum_twitter_3, random_state=1)

X_average_twitter_1_train, X_average_twitter_1_test, y_average_twitter_1_train, y_average_twitter_1_test = train_test_split(X_average_twitter_1, y_average_twitter_1, random_state=1)
X_average_twitter_2_train, X_average_twitter_2_test, y_average_twitter_2_train, y_average_twitter_2_test = train_test_split(X_average_twitter_2, y_average_twitter_2, random_state=1)
X_average_twitter_3_train, X_average_twitter_3_test, y_average_twitter_3_train, y_average_twitter_3_test = train_test_split(X_average_twitter_3, y_average_twitter_3, random_state=1)

#Tesla train and test

X_sum_tesla_1_train, X_sum_tesla_1_test, y_sum_tesla_1_train, y_sum_tesla_1_test = train_test_split(X_sum_tesla_1, y_sum_tesla_1, random_state=1)
X_sum_tesla_2_train, X_sum_tesla_2_test, y_sum_tesla_2_train, y_sum_tesla_2_test = train_test_split(X_sum_tesla_2, y_sum_tesla_2, random_state=1)
X_sum_tesla_3_train, X_sum_tesla_3_test, y_sum_tesla_3_train, y_sum_tesla_3_test = train_test_split(X_sum_tesla_3, y_sum_tesla_3, random_state=1)

X_average_tesla_1_train, X_average_tesla_1_test, y_average_tesla_1_train, y_average_tesla_1_test = train_test_split(X_average_tesla_1, y_average_tesla_1, random_state=1)
X_average_tesla_2_train, X_average_tesla_2_test, y_average_tesla_2_train, y_average_tesla_2_test = train_test_split(X_average_tesla_2, y_average_tesla_2, random_state=1)
X_average_tesla_3_train, X_average_tesla_3_test, y_average_tesla_3_train, y_average_tesla_3_test = train_test_split(X_average_tesla_3, y_average_tesla_3, random_state=1)

#Doge train and test

X_sum_doge_1_train, X_sum_doge_1_test, y_sum_doge_1_train, y_sum_doge_1_test = train_test_split(X_sum_doge_1, y_sum_doge_1, random_state=1)
X_sum_doge_2_train, X_sum_doge_2_test, y_sum_doge_2_train, y_sum_doge_2_test = train_test_split(X_sum_doge_2, y_sum_doge_2, random_state=1)
X_sum_doge_3_train, X_sum_doge_3_test, y_sum_doge_3_train, y_sum_doge_3_test = train_test_split(X_sum_doge_3, y_sum_doge_3, random_state=1)

X_average_doge_1_train, X_average_doge_1_test, y_average_doge_1_train, y_average_doge_1_test = train_test_split(X_average_doge_1, y_average_doge_1, random_state=1)
X_average_doge_2_train, X_average_doge_2_test, y_average_doge_2_train, y_average_doge_2_test = train_test_split(X_average_doge_2, y_average_doge_2, random_state=1)
X_average_doge_3_train, X_average_doge_3_test, y_average_doge_3_train, y_average_doge_3_test = train_test_split(X_average_doge_3, y_average_doge_3, random_state=1)

In [20]:
# Create Regression Model
model_sum_twitter_1 = LinearRegression()
model_sum_twitter_2 = LinearRegression()
model_sum_twitter_3 = LinearRegression()
model_average_twitter_1 = LinearRegression()
model_average_twitter_2 = LinearRegression()
model_average_twitter_3 = LinearRegression()

model_sum_tesla_1 = LinearRegression()
model_sum_tesla_2 = LinearRegression()
model_sum_tesla_3 = LinearRegression()
model_average_tesla_1 = LinearRegression()
model_average_tesla_2 = LinearRegression()
model_average_tesla_3 = LinearRegression()

model_sum_doge_1 = LinearRegression()
model_sum_doge_2 = LinearRegression()
model_sum_doge_3 = LinearRegression()
model_average_doge_1 = LinearRegression()
model_average_doge_2 = LinearRegression()
model_average_doge_3 = LinearRegression()

In [21]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [22]:
# Train the model
model_sum_twitter_1.fit(X_sum_twitter_1_train, y_sum_twitter_1_train)
# Use model to make predictions
y_sum_twitter_1_pred = model_sum_twitter_1.predict(X_sum_twitter_1_test)

# Printout relevant metrics
# print("Accuracy Score:", accuracy_score(y_sum_twitter_1_test, y_sum_twitter_1_pred))
print("Model Coefficients:", model_sum_twitter_1.coef_)
print("Mean Absolute Error:", mean_absolute_error(y_sum_twitter_1_test, y_sum_twitter_1_pred))
print("Coefficient of Determination:", r2_score(y_sum_twitter_1_test, y_sum_twitter_1_pred))

Model Coefficients: [[ 2.50861837e-06 -3.41722824e-05 -2.38264260e+00  1.17390917e+00]]
Mean Absolute Error: 2.114841593390005
Coefficient of Determination: 0.7747520378689332

In [23]:
# Train the model
model_average_twitter_1.fit(X_average_twitter_1_train, y_average_twitter_1_train)
# Use model to make predictions
y_average_twitter_1_pred = model_average_twitter_1.predict(X_average_twitter_1_test)

# Printout relevant metrics
# print("Accuracy Score:", accuracy_score(y_average_twitter_1_test, y_average_twitter_1_pred))
print("Model Coefficients:", model_average_twitter_1.coef_)
print("Mean Absolute Error:", mean_absolute_error(y_average_twitter_1_test, y_average_twitter_1_pred))
print("Coefficient of Determination:", r2_score(y_average_twitter_1_test, y_average_twitter_1_pred))

Model Coefficients: [[ 3.71488306e-06 -5.00243302e-05 -2.13142372e+00  1.02273076e+00
   1.18183047e+00]]
Mean Absolute Error: 2.75741479647782
Coefficient of Determination: 0.6413439469017339

In [24]:
# Train the model
model_sum_twitter_2.fit(X_sum_twitter_2_train, y_sum_twitter_2_train)
# Use model to make predictions
y_sum_twitter_2_pred = model_sum_twitter_2.predict(X_sum_twitter_2_test)

# Printout relevant metrics
print("Model Coefficients:", model_sum_twitter_2.coef_)
print("Mean Absolute Error:", mean_absolute_error(y_sum_twitter_2_test, y_sum_twitter_2_pred))
print("Coefficient of Determination:", r2_score(y_sum_twitter_2_test, y_sum_twitter_2_pred))

Model Coefficients: [[ 1.16174369e-06 -1.71078395e-05  6.61221783e-01  5.58306468e-01
   7.28874580e-01]]
Mean Absolute Error: 3.062257821449327
Coefficient of Determination: 0.717678572929884

In [25]:
# Train the model
model_average_twitter_2.fit(X_average_twitter_2_train, y_average_twitter_2_train)
# Use model to make predictions
y_average_twitter_2_pred = model_average_twitter_2.predict(X_average_twitter_2_test)

# Printout relevant metrics
print("Model Coefficients:", model_average_twitter_2.coef_)
print("Mean Absolute Error:", mean_absolute_error(y_average_twitter_2_test, y_average_twitter_2_pred))
print("Coefficient of Determination:", r2_score(y_average_twitter_2_test, y_average_twitter_2_pred))

Model Coefficients: [[-2.44816726e-07 -5.99873580e-06  7.22816212e-01  4.21397331e-01
   5.90537162e-01  7.07913986e-01]]
Mean Absolute Error: 3.109010683686057
Coefficient of Determination: 0.7006388494446705

In [26]:
# Train the model
model_sum_twitter_3.fit(X_sum_twitter_1_train, y_sum_twitter_1_train)
# Use model to make predictions
y_sum_twitter_3_pred = model_sum_twitter_3.predict(X_sum_twitter_1_test)

# Printout relevant metrics
print("Model Coefficients:", model_sum_twitter_3.coef_)
print("Mean Absolute Error:", mean_absolute_error(y_sum_twitter_3_test, y_sum_twitter_3_pred))
print("Coefficient of Determination:", r2_score(y_sum_twitter_3_test, y_sum_twitter_3_pred))

Model Coefficients: [[ 2.50861837e-06 -3.41722824e-05 -2.38264260e+00  1.17390917e+00]]
Mean Absolute Error: 4.51945748295178
Coefficient of Determination: 0.5989674644198189

In [27]:
# Train the model
model_average_twitter_3.fit(X_average_twitter_3_train, y_average_twitter_3_train)
# Use model to make predictions
y_average_twitter_3_pred = model_average_twitter_3.predict(X_average_twitter_3_test)

# Printout relevant metrics
print("Model Coefficients:", model_average_twitter_3.coef_)
print("Mean Absolute Error:", mean_absolute_error(y_average_twitter_3_test, y_average_twitter_3_pred))
print("Coefficient of Determination:", r2_score(y_average_twitter_3_test, y_average_twitter_3_pred))

Model Coefficients: [[ 1.87833274e-17 -1.82425699e-16  7.56561773e-15  8.60597914e-16
   3.39614031e-16  5.29365403e-17 -3.43707758e-16  1.00000000e+00]]
Mean Absolute Error: 1.3426031120200577e-12
Coefficient of Determination: 1.0

In [28]:
# Train the model
model_sum_tesla_1.fit(X_sum_tesla_1_train, y_sum_tesla_1_train)
# Use model to make predictions
y_sum_tesla_1_pred = model_sum_tesla_1.predict(X_sum_tesla_1_test)

# Printout relevant metrics
print("Model Coefficients:", model_sum_tesla_1.coef_)
print("Mean Absolute Error:", mean_absolute_error(y_sum_tesla_1_test, y_sum_tesla_1_pred))
print("Coefficient of Determination:", r2_score(y_sum_tesla_1_test, y_sum_tesla_1_pred))

Model Coefficients: [[ 3.05825884e-06 -3.59680428e-05  8.05858889e-01  9.96644097e-01]]
Mean Absolute Error: 2.7343209481573356
Coefficient of Determination: 0.6043912356645854

In [29]:
# Train the model
model_average_tesla_1.fit(X_average_tesla_1_train, y_average_tesla_1_train)
# Use model to make predictions
y_average_tesla_1_pred = model_average_tesla_1.predict(X_average_tesla_1_test)

# Printout relevant metrics
print("Model Coefficients:", model_average_tesla_1.coef_)
print("Mean Absolute Error:", mean_absolute_error(y_average_tesla_1_test, y_average_tesla_1_pred))
print("Coefficient of Determination:", r2_score(y_average_tesla_1_test, y_average_tesla_1_pred))

Model Coefficients: [[ 8.88983129e-06 -7.90027764e-05  8.02919919e-01  9.96934092e-01]]
Mean Absolute Error: 2.747742977245776
Coefficient of Determination: 0.6014729649786046

In [30]:
# Train the model
model_sum_tesla_2.fit(X_sum_tesla_2_train, y_sum_tesla_2_train)
# Use model to make predictions
y_sum_tesla_2_pred = model_sum_tesla_2.predict(X_sum_tesla_2_test)

# Printout relevant metrics
print("Model Coefficients:", model_sum_tesla_2.coef_)
print("Mean Absolute Error:", mean_absolute_error(y_sum_tesla_2_test, y_sum_tesla_2_pred))
print("Coefficient of Determination:", r2_score(y_sum_tesla_2_test, y_sum_tesla_2_pred))

Model Coefficients: [[-3.22029380e-06 -4.55077160e-06 -6.37875629e-02 -8.31701316e-02
   1.00420563e+00]]
Mean Absolute Error: 2.8251599562885072
Coefficient of Determination: 0.6749582817401334

In [31]:
# Train the model
model_average_tesla_2.fit(X_average_tesla_2_train, y_average_tesla_2_train)
# Use model to make predictions
y_average_tesla_2_pred = model_average_tesla_2.predict(X_average_tesla_2_test)

# Printout relevant metrics
print("Model Coefficients:", model_average_tesla_2.coef_)
print("Mean Absolute Error:", mean_absolute_error(y_average_tesla_2_test, y_average_tesla_2_pred))
print("Coefficient of Determination:", r2_score(y_average_tesla_2_test, y_average_tesla_2_pred))

Model Coefficients: [[ 2.51482084e-07 -5.18571381e-05 -6.02819128e-02 -8.15171266e-02
   1.00238017e+00]]
Mean Absolute Error: 2.844818199012957
Coefficient of Determination: 0.6747422696212015

In [32]:
# Train the model
model_sum_tesla_3.fit(X_sum_tesla_3_train, y_sum_tesla_3_train)
# Use model to make predictions
y_sum_tesla_3_pred = model_sum_tesla_3.predict(X_sum_tesla_3_test)

# Printout relevant metrics
print("Model Coefficients:", model_sum_tesla_3.coef_)
print("Mean Absolute Error:", mean_absolute_error(y_sum_tesla_3_test, y_sum_tesla_3_pred))
print("Coefficient of Determination:", r2_score(y_sum_tesla_3_test, y_sum_tesla_3_pred))

Model Coefficients: [[ 2.70430229e-17 -2.05781777e-16 -3.08171869e-15  4.28158650e-16
   7.06145725e-17  6.49275769e-16  1.00000000e+00]]
Mean Absolute Error: 5.599933662321272e-13
Coefficient of Determination: 1.0

In [33]:
# Train the model
model_average_tesla_3.fit(X_average_tesla_3_train, y_average_tesla_3_train)
# Use model to make predictions
y_average_tesla_3_pred = model_average_tesla_3.predict(X_average_tesla_3_test)

# Printout relevant metrics
print("Model Coefficients:", model_average_tesla_3.coef_)
print("Mean Absolute Error:", mean_absolute_error(y_average_tesla_3_test, y_average_tesla_3_pred))
print("Coefficient of Determination:", r2_score(y_average_tesla_3_test, y_average_tesla_3_pred))

Model Coefficients: [[-8.55927661e-21  6.62160891e-20 -1.23245648e-15 -5.92631942e-16
   4.03480707e-16 -1.27548119e-16  1.00000000e+00]]
Mean Absolute Error: 6.84878601405649e-15
Coefficient of Determination: 1.0

In [34]:
# Train the model
model_sum_doge_1.fit(X_sum_doge_1_train, y_sum_doge_1_train)
# Use model to make predictions
y_sum_doge_1_pred = model_sum_doge_1.predict(X_sum_doge_1_test)

# Printout relevant metrics
print("Model Coefficients:", model_sum_doge_1.coef_)
print("Mean Absolute Error:", mean_absolute_error(y_sum_doge_1_test, y_sum_doge_1_pred))
print("Coefficient of Determination:", r2_score(y_sum_doge_1_test, y_sum_doge_1_pred))

Model Coefficients: [[-2.47959170e-05 -2.55413644e-04 -8.18844679e+00  2.54957489e+00]]
Mean Absolute Error: 14.045975397535539
Coefficient of Determination: -12.404009032459303

In [35]:
# Train the model
model_sum_doge_2.fit(X_sum_doge_2_train, y_sum_doge_2_train)
# Use model to make predictions
y_sum_doge_2_pred = model_sum_doge_2.predict(X_sum_doge_2_test)

# Printout relevant metrics
print("Model Coefficients:", model_sum_doge_2.coef_)
print("Mean Absolute Error:", mean_absolute_error(y_sum_doge_2_test, y_sum_doge_2_pred))
print("Coefficient of Determination:", r2_score(y_sum_doge_2_test, y_sum_doge_2_pred))

Model Coefficients: [[-1.15760581e-05  7.12690843e-05 -1.43310436e+00  8.50736383e-01
   4.99169148e-01]]
Mean Absolute Error: 4.927729458325372
Coefficient of Determination: -0.31945725478379505

In [36]:
# Train the model
model_average_doge_2.fit(X_average_doge_2_train, y_average_doge_2_train)
# Use model to make predictions
y_average_doge_2_pred = model_average_doge_2.predict(X_average_doge_2_test)

# Printout relevant metrics
print("Model Coefficients:", model_average_doge_2.coef_)
print("Mean Absolute Error:", mean_absolute_error(y_average_doge_2_test, y_average_doge_2_pred))
print("Coefficient of Determination:", r2_score(y_average_doge_2_test, y_average_doge_2_pred))

Model Coefficients: [[-2.10337831e-05  7.66850575e-05 -1.11496101e+00  4.86133787e-01
   9.18146894e-01  4.78465158e-01]]
Mean Absolute Error: 5.639727508753945
Coefficient of Determination: -0.6636117662502372

In [37]:
# Train the model
model_sum_doge_3.fit(X_sum_doge_3_train, y_sum_doge_3_train)
# Use model to make predictions
y_sum_doge_3_pred = model_sum_doge_3.predict(X_sum_doge_3_test)

# Printout relevant metrics
print("Model Coefficients:", model_sum_doge_3.coef_)
print("Mean Absolute Error:", mean_absolute_error(y_sum_doge_3_test, y_sum_doge_3_pred))
print("Coefficient of Determination:", r2_score(y_sum_doge_3_test, y_sum_doge_3_pred))

Model Coefficients: [[ 1.61367456e-19 -8.60175205e-19  2.05582270e-14 -4.98701358e-16
  -9.05475563e-16 -1.28415567e-16  1.00000000e+00]]
Mean Absolute Error: 1.1197392219790865e-14
Coefficient of Determination: 1.0

In [38]:
# Train the model
model_average_doge_3.fit(X_average_doge_3_train, y_average_doge_3_train)
# Use model to make predictions
y_average_doge_3_pred = model_average_doge_3.predict(X_average_doge_3_test)

# Printout relevant metrics
print("Model Coefficients:", model_average_doge_3.coef_)
print("Mean Absolute Error:", mean_absolute_error(y_average_doge_3_test, y_average_doge_3_pred))
print("Coefficient of Determination:", r2_score(y_average_doge_3_test, y_average_doge_3_pred))

Model Coefficients: [[ 1.03790289e-18 -6.19077516e-18  1.40597280e-14  4.17860135e-15
  -1.90086782e-16 -2.56598980e-17 -1.10058819e-16  1.00000000e+00]]
Mean Absolute Error: 2.882218273571522e-14
Coefficient of Determination: 1.0