In [1]:
import pandas as pd 
import datetime
from datetime import datetime,timedelta

from statsmodels.tsa.stattools import adfuller
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
from statsmodels.tsa.arima_model import ARIMA
import statsmodels.api as sm

from sklearn.preprocessing import StandardScaler
from pmdarima.arima.utils import ndiffs
from pmdarima import auto_arima

In [2]:
# Database related all the code is moved to this file
%run -i "SqlConn.py"
#importing local py file
import SqlConn

In [6]:
#Fetch Tweets and Sentiment data - Join from Tweet and Sentiment tables
try:
    df_dbSentimentData = SqlConn.fetchTweetSentimentForModelling("")
    print("Data transfer Done")
except BaseException as err:
    print(err)

Data transfer Done

In [7]:
df_dbSentimentData

,tweetID,financeType,date,fullText,replyCount,likesCount,retweetCount,sentimentScore,sentiment,adjustedClose,volume
0,156927468836630528,tesla,2012-01-11,The exec conf room at Tesla used to be called ...,32.0,315,67,0.35,Positive,5.646000,3361500
1,156927468836630528,tesla,2012-01-11,The exec conf room at Tesla used to be called ...,32.0,315,67,0.35,Positive,5.646000,3361500
2,156927468836630528,tesla,2012-01-11,The exec conf room at Tesla used to be called ...,32.0,315,67,0.35,Positive,5.646000,3361500
3,156927468836630528,tesla,2012-01-11,The exec conf room at Tesla used to be called ...,32.0,315,67,0.35,Positive,5.646000,3361500
4,156927468836630528,tesla,2012-01-11,The exec conf room at Tesla used to be called ...,32.0,315,67,0.35,Positive,5.646000,3361500
...,...,...,...,...,...,...,...,...,...,...,...
234427,1546666417759653888,tesla,2022-07-12,Tesla’s automatic cabin overheat protection sh...,NaN,56429,4023,0.10,Positive,34.060001,29539400
234428,1546666417759653888,tesla,2022-07-12,Tesla’s automatic cabin overheat protection sh...,NaN,56429,4023,0.10,Positive,0.060087,298462083
234429,1546666417759653888,tesla,2022-07-12,Tesla’s automatic cabin overheat protection sh...,NaN,56429,4023,0.10,Positive,699.210022,29310300
234430,1546666417759653888,tesla,2022-07-12,Tesla’s automatic cabin overheat protection sh...,NaN,56429,4023,0.10,Positive,34.060001,29539400
234431,1546666417759653888,tesla,2022-07-12,Tesla’s automatic cabin overheat protection sh...,NaN,56429,4023,0.10,Positive,0.060087,298462083